<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']"> <img [src]="imageUrl" alt="formalab logo" width="100px"></a> <button
      class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <form class="d-flex ml-auto" role="search">
        <button class="btn btn-info" [routerLink]="['/login']">Login</button>
        <button class="btn btn-primary mx-3" [routerLink]="['/register']">Register</button>
      </form>
    </div>
  </div>
</nav>